@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Outfit',sans-serif ;
}
header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding: 10px 20px;
    color: #fff;
   
}
body{
    background: url(imge/4k-may-tinh32\ .jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    color: #fff;
    user-select: none;
    font-size: 2em;
    position: absolute;
    right: 88%;
    
    
}
header .navagitation a{
    position: absolute;
    text-decoration: none;
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 1.1em;
    margin-left: 40px;
    left: 95%;
    transition: all 2s;

}


header .navagitation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scale(0);
    transition: transform .5s;
}

header .navagitation a:hover::after{
    transform: scale(1);

}

header i{
    position: absolute;
    right: 86%;
    font-size: 28px;
}

#wrapper{
    margin: 0 auto;
    width: 960px;
    background: rgba(255, 255,255, .15);;
    box-shadow: 0 8px 32px rgba(31, 38, 135, .37);
    border: 1px solid rgba(255,255,255, .18);
    border-radius: 20px;
    padding: 10px;

}

ul.list-item{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    
}
ul.list-item li{
    list-style: none;
    flex-basis: 25%;

}
ul.list-item li .post-item{
    
    border-radius: 10px;
    transition: all 2s;
    border: 1px solid red;
    margin: 10px;
    cursor: pointer;
    
}
ul.list-item li .post-item:hover{
    transform: scale(1.1);
}
.discount{
    color: royalblue;
    font-weight: 700;
    margin: 10px;
    
}
p{
    margin: 10px;
    color: #fff;

}
ul.post{
    margin: 15px;
    color: #fff;
}
.container{
    width: 960px;
    margin: 0 auto;
    
    display: flex;
    position: relative;
    background: rgba(255, 255,255, .15);
    box-shadow: 0 8px 32px rgba(31, 38, 135, .37);
    border: 1px solid rgba(255,255,255, .18);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.container button{
    width: 300px;
    height: 40px;
    margin: 20px 0px;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    background: rgb(130, 156, 222);
}
.container form label{
    color: #000;
    font-weight: 700;
    margin: 15px;
    gap: 10px;
    
}

.container form input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

.container form input::placeholder{
    padding: 5px;
}
.container form input:focus{
    padding: 10px;
}

.container .input-icon i{
    position: absolute;
    
    left: 64%;
    transform: translateY(-23px);
}

.footer{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    position: relative;
    padding: 80px;
    background: url(imge/healling.jpg);
    background-attachment: fixed;

    backdrop-filter: blur(10px);
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
   
    transition: all 2s ease;
    box-sizing: border-box;
}
.footer h2{
    position: absolute;
    top: 20%;
    
}

 .footer .icon{
   display: flex;
   position: absolute;
    top: 25%;
  

   
   
    
}
.footer .icon button{
    align-items: center;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0px 10px;
    cursor: pointer;
    /* background: transparent; */
   background:  rgb(179, 217, 207);
    
}
.footer .icon button:hover{
    border: 1px solid white;
}
.footer .icon i{
    font-size: 20px;

} 
.footer form label{
    display: flex;
    gap: 10px;
    margin: 20px 0px;
    color: aqua;
}
.footer form input{
    width: 300px;
    height: 33px;
    border-radius: 10px;
}
.footer form input::placeholder{
    padding: 5px;
}

.footer form input:focus{
    padding: 10px;
}

.footer form .input-text i{
    position: absolute;
    transform: translateY(-24px);
    margin: 0px 8px;
    left: 58%;
} 
.forget{
    
    
    position: absolute; 
    top: 75%;
    right: 35%;
    


}
.forget a{
    justify-content: space-between;
    margin:0px 22px;
    padding:0px 22px;
    color: #fff;
    text-decoration: none;
    transition: transform .5s;
}
.forget a:hover{
    text-decoration: underline;
    content: '';
    border: #fff;
    
}

.register{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    position: relative;
    padding: 80px;
    background: url(imge/R.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    backdrop-filter: blur(10px);
    border-radius: 8px;
   
    transition: all 2s ease;
    box-sizing: border-box;
}
.register h2{
    position: absolute;
    top: 10%;
    text-transform: uppercase;
    
}

 .register .icon{
   display: flex;
   position: absolute;
    top: 16%;
  

   
   
    
}
.register .icon button{
    align-items: center;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0px 10px;
    cursor: pointer;
    /* background: transparent; */
    background: rgb(179, 217, 207);
  
    
}
.register .icon button:hover{
    border: 1px solid white;
}
.register .icon i{
    font-size: 20px;

} 
.register form label{
    display: flex;
    gap: 10px;
    margin: 20px 0px;
    color: cyan;
}
.register form input{
    width: 300px;
    height: 33px;
    border-radius: 10px;
}
.register form input::placeholder{
    padding: 5px;
}

.register form input:focus{
    padding: 10px;
}

.register form .input-text i{
    position: absolute;
    transform: translateY(-24px);
    margin: 0px 8px;
    left: 58%;
} 
.forget{
    
    
    position: absolute; 
    top: 80%;
    right: 35%;
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin: 25px 0 10px;
    


}
.forget a{
    /* justify-content: space-between;
    margin:0px 22px;
    padding:0px 22px;
    color: #fff;
    text-decoration: none;
    transition: transform .5s; */
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin: 15px 10px;
    justify-content: space-around;
}
.forget a:hover{
    text-decoration: underline;
    content: '';
    border: #fff;
    
}